<div class="row">
  <div class="col-6"><h1>Users</h1></div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ Add User</a>
  </div>
</div>
<div class="container mt-5 mb-3">
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Eamil</th>
      <th scope="col">Phone</th>
      <th scope="col" class="text-right">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <th scope="row">{{this.Id}}</th>
      <td>{{this.firstname}}</td>
      <td>{{this.lastname}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td class="text-right">
        <a href="/viewall/{{this.Id}}" type="button" class="btn btn-light"><i class="bi bi-eye"></i> View</a>
        <a href="/edit/{{this.Id}}" type="button" class="btn btn-light"><i class="bi bi-pen"></i> Edit</a>
        <a href="/{{this.Id}}" type="button" class="btn btn-light"><i class="bi bi-person"></i> Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>